%background100 {
  @media (prefers-color-scheme: dark) {
    background-color: $dark100 !important;
  }
}

%background200 {
  @media (prefers-color-scheme: dark) {
    background-color: $dark200;
  }
}

%background300 {
  @media (prefers-color-scheme: dark) {
    background-color: $dark300;
  }
}

%txt-color {
  @media (prefers-color-scheme: dark) {
    color: $dark500;
  }
}

%dark-green-color {
  @media (prefers-color-scheme: dark) {
    color: $green_dark;
  }
}

%border-color100 {
  @media (prefers-color-scheme: dark) {
    border-color: $dark100;
  }
}

%border-color300 {
  @media (prefers-color-scheme: dark) {
    border-color: $dark300;
  }
}

%border-right-color300 {
  @media (prefers-color-scheme: dark) {
    border-right-color: $dark300;
  }
}

%border-color400 {
  @media (prefers-color-scheme: dark) {
    border-color: $dark400;
  }
}